{
  "parser": "babel-eslint",
  "extends": "standard",
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": ["warn", "always-multiline"],
    "no-cond-assign": "error",
    "no-constant-condition": "warn",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "warn",
    "no-empty-character-class": "error",
    "no-extra-boolean-cast": "error",
    "no-func-assign": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-obj-calls": "error",
    "no-sparse-arrays": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unsafe-finally": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "consistent-return": "error",
    "curly": ["error", "all"],
    "default-case": "error",
    "dot-location": ["error", "property"],
    "eqeqeq": ["error", "allow-null"],
    "guard-for-in": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-else-return": "error",
    "no-empty-pattern": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-implicit-globals": "warn",
    "no-implied-eval": "error",
    "no-labels": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "warn",
    "no-multi-str": "error",
    "no-native-reassign": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal": "error",
    "no-octal-escape": "error",
    "no-proto": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-assign": "warn",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "no-useless-call": "error",
    "no-useless-concat": "warn",
    "no-useless-escape": "warn",
    "no-with": "error",
    "wrap-iife": ["error", "outside"],
    "yoda": ["error", "never"],
    "no-delete-var": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "global-require": "warn",
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["warn", "always"],
    "brace-style": ["error", "1tbs"],
    "camelcase": "error",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"],
    "computed-property-spacing": ["error", "never"],
    "consistent-this": ["warn", "self"],
    "eol-last": "warn",
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["warn", { "before": true, "after": true }],
    "linebreak-style": "error",
    "max-depth": ["error", 4],
    "max-params": ["error", 5],
    "new-parens": "error",
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "no-array-constructor": "error",
    "no-bitwise": ["error", { allow: ["~"] }],
    "no-lonely-if": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-negated-condition": "error",
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "no-spaced-func": "error",
    "no-trailing-spaces": ["warn", { "skipBlankLines": true }],
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["error", "always"],
    "object-property-newline": ["warn", { "allowMultiplePropertiesPerLine": true }],
    "one-var": ["error", "never"],
    "one-var-declaration-per-line": ["error", "always"],
    "operator-linebreak": ["error", "none"],
    "padded-blocks": ["warn", "never"],
    "quote-props": ["error", "as-needed", { "keywords": true }],
    "quotes": ["warn", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "semi": "warn",
    "semi-spacing": ["error", { "before": false, "after": true }],
    "space-before-blocks": ["warn", "always"],
    "space-before-function-paren": ["warn", "never"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "warn",
    "space-unary-ops": "error",
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "no-const-assign": "error",
    "no-duplicate-imports": ["error", { "includeExports": true }],
    "no-useless-computed-key": "error",
    "prefer-rest-params": "warn",
    "prefer-template": "warn",
    "template-curly-spacing": ["warn", "always"],
  }
}
